@import '../mixins';
.title {
  display: inline-block;
  width: 100%;
  font-family: 'Poppins';
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  transition: all ease-in-out 0.3s;
  color: var(--black);
  &__dark {
    color: #EEEEEE;
  }
  @include smallDeviceSize {
    font-size: 3rem;
  }
}
